.dashboard {
    width: 100vw;
    max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: absolute;
    
    
  }
  
  .dashboardContainer {
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    background-color: var(--darkGray);
    padding: 3rem 0;
  }
  
  .dashboardContainer > h1 {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
    width: 50%;
    padding: 1.5rem;
    margin: auto;
  }
  
  .dashboardSummary {
    margin: 2rem 0;
    
  }
  
  .dashboardSummary > div {
    display: flex;
    justify-content: center;
    -moz-box-shadow: 0.2px 14px 45px -15px orange;
    box-shadow: 1px 14px 35px -40px orange;
    
  }
  .dashboardSummary > div > p {
    border: 1px solid orange;
    color: orange;
    font: 500 1.3rem "Roboto";
    text-align: center;
    font-size: xx-large;
    padding: 1.5rem;
    width: 100%;
    margin: 0 2rem;

  }
  
  .statistics {
    color: var(--dk-gray-200);
  }
  
  
  .statistics .box {
    background-color: var(--dk-dark-bg);
    
  }
  
  .statistics .box i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    
  }
  
  .statistics .box p {
    color: var(--dk-gray-400);
    
  }

  .lineChart {
    background-color: var(--lightgray);
    width: 80%;
    margin: auto;
    border: 1px solid orange;
    -moz-box-shadow: 1px 14px 45px -15px orange;
    box-shadow: 1px 14px 35px -20px orange;
  }
  
  .doughnutChart {
    background-color: var(--lightgray);
    width: 30vmax;
    margin: auto;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .dashboard {
      grid-template-columns: 1fr;
    }
  
    .dashboardContainer {
      border-left: none;
    }
  
    .dashboardSummary > div > p {
      margin: 0;
    }
  
    .dashboardSummaryBox2 > a {
      padding: 0.5rem;
      margin: 1rem;
      font: 300 0.9rem "Roboto";
    }
  }