#search-header {
    display: flex;
    margin-top: -2vmax;
    margin-bottom: 4vmax ;
    justify-content: center;
  }
  #search-text {
    margin-right: 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    font-weight: bold;
  }
  #search-box {
    height: 35px;
    min-width: 20vmax;
    background-color: var(--lightgray);
  }
  #search-box[placeholder] {
    line-height: 15px;
    font-size: 15px;
  }
  .cars{
    background-color: var(--darkGrey);
    margin-left: 1rem;
}

.bs1{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.car-text{
    color: white;
}



.header{
    padding: 10px;
}

.context{
    min-height: 90vh;
}
.card{
    transition: 0.5s ease-in-out;

}

.card:hover{
transform: translateY(20px);
}

.card{
    width:  420px;
    height: 220px;
    padding: 2rem 1rem;
    background:#fff;
    position: relative;
    display: flex;
    align-items: flex-end;
   
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(75, 75, 74, 0.85), rgba(255, 118, 5, 1));
    transition: 0.5s all;
    opacity: 0;
    z-index: 2;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-bottom: 130px;
    object-fit: cover;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
   
}

.card .info h1{
    margin: 0;
}


.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: left;
}

.buttons>button{
    background-color: orange;
    font-weight: 400px;
}

.buttons>button:hover{
    background-color: orange;
    opacity: 0.7;
}