.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rm;
}

.header-menu{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    color: white;
    padding: 2rem;
}

.header-menu>li:hover{
    color: var(--orange);
    cursor: pointer;
}

.subnav_link{
    text-decoration: none;
    color: white;
    font-weight:150px;
}
.subnav_link:hover{
    color: orange;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
  transition: all 0.3s ease-in-out 0.1s;
    
}

.shoppingCartIcon{
    margin-top: -5px;
}

.container {
  margin: auto;
  width: 80%;
}

.badge {
  background-color: orange;
  border-radius: 10px;
  color: var(--darkgrey);
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  z-index: 999;
  margin: -20px 1000px ;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  position: absolute;
  
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
  
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
  list-style-type:decimal;
 
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
  height: 80px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #6394F8;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.shopping-cart  > div .button {
  background: orange;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
  background: #729ef9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.lighter-text {
    color: #ABB0BE;
  }
  
  .main-color-text {
    color: #6394F8;
  }

@media screen and (max-width: 768px){
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }

    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}