
.hero-image-back-profile {
  position: absolute;
  top: 15rem;
  right: 0rem;
  z-index: 1;
  width: 20rem;
  opacity: 0.6;
}
  .profile-wrapper {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 820px;
    height: 700px;
    margin: 3em 0 0;
  }
  .profile-wrapper .profile-image {
    display: inline-block;
    width: 45%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1em;
    background-color: orange;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: 1px 24px 55px -19px orange;
    -moz-box-shadow: 1px 24px 55px -19px orange;
    box-shadow: 1px 24px 55px -19px orange;
  }

  .profile-wrapper .profile-image img {
    display: block;
    width: 115%;
    height: 100%;
    position: absolute;
    object-fit: cover;

  }


  .profile-wrapper .profile-title {
    display: block;
    position: absolute;
    top: 8%;
    left: 34%;
    color: var(--lightgray);;
    z-index: 2;
    font-weight: 700;
    font-size: 4.5em;
    line-height: 1em;
    letter-spacing: -0.02em;
    margin: 0;
  }
  .profile-wrapper .profile-title span {
    display: block;
    margin-left: 28%;
    color: var(--lightgray);;
  }
  .profile-wrapper .profile-info {
    display: block;
    position: absolute;
    top: 25%;
    right: 0vmax;
    border-radius: 1em;
    width: 110%;
    height: 100%;
    -webkit-box-shadow: 0px 15px 50px -13px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 15px 50px -13px rgba(0,0,0,0.34);
    box-shadow: 0px 15px 50px -13px rgba(0,0,0,0.34);
  }
  .profile-wrapper .profile-info .content {
    display: inline-block;
    float: right;
    width: 50%;
    padding: 7%;
  }
  .profile-wrapper .profile-info .content h3 {
    text-transform: uppercase;
    color: orange;
    letter-spacing: 0.2em;
    
  }
  .profile-wrapper .profile-info .content p {
    font-weight: 400;
    border: 2px solid orange;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--lightgray);
    line-height: 1.5em;
    
  }

  .profile-wrapper .profile-info .stats {
    display: block;
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 7.8%;
    right: 0;
  }

  .profile-wrapper .profile-info .stats > a {
    border: none;
    background-color: orange;
    font: 500 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    margin: 6vmax ;
    text-align: center;
  }

  .profile-wrapper .profile-info .content > div > span > a {
    color: red;
    font: 400 0.7vmax cursive;
    text-decoration: none;
  }

