.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rm;
}

.header-menu{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    color: white;
    padding: 2rem;
}

.header-menu>li:hover{
    color: var(--orange);
    cursor: pointer;
}

.subnav_link{
    text-decoration: none;
    color: white;
    font-weight:150px;
}
.subnav_link:hover{
    color: orange;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
  transition: all 0.3s ease-in-out 0.1s;
    
}

@media screen and (max-width: 768px){
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }

    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}