
.cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  flex-wrap: no-wrap;
  background-color: white;
  z-index: 22;

}

.hero-image-back-programs{
  position: absolute;
  top: 10rem;
  right: 0rem;
  z-index:1;
  width: 20rem;
  opacity: 0.6;
}

.text-programs{
    padding-top: 10px;
    text-align: left;
    z-index: 22;

}
.cont img{
       object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.pagination > li {
  list-style: none;
  border: 0.3px solid;
}
.pagination > li > a,
.pagination > li > span {
  float: left;
  padding: 8px 20px;
  line-height: 1.5;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > li.active > a {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.pagination > li > a:hover {
  background-color: #218838;
  color: white;
  cursor: pointer;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}

.search-header {
  display: flex;
}
.search-text {
  margin-right: 10px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-box {
  height: 25px;
}
#search-box[placeholder] {
  line-height: 25px;
  font-size: 25px;
}


