
.cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  flex-wrap: no-wrap;
  background-color: white;
}

.text-programs{
    padding-top: 10px;
    text-align: left;
}
.cont img{
       object-fit: cover;
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.search-header {
  display: flex;
}
.search-text {
  margin-right: 10px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-box {
  height: 25px;
}
#search-box[placeholder] {
  line-height: 25px;
  font-size: 25px;
}


