.login{
    background-color: var(--darkGray);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.loginCol{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left-l{
    padding: 2rm;
    padding-top: 1.5rm;
    flex: 1.5;
    display: flex;
    gap: 2rem;
    flex-direction: column;

}

.right-l{
    flex: 1;
    position: relative;
    background-color: var(--orange);
    margin-bottom: -0.45rem;
}



.login label, .login h1{
    color: white !important;
    opacity: 0.6;
}

.login-form{
    background-color: #a86a23;
    margin: 11rem 2rem;
    padding: 2rem;
}

.car_login{
    position: absolute;
    top: 10rem;
    left: 2rem;
    width: 50rem;
}

